[env]
VIRTUAL_ENV = { value = "{{config_root}}/.venv" }
_.path = ["{{env.VIRTUAL_ENV}}/bin"]

[tools]
# Python and package management
python = "3.13"
uv = "0.5.29"

# Operations tools

# renovate: datasource=github-releases depName=go-task/task
task = "3.45.4"

# renovate: datasource=github-releases depName=mikefarah/yq
yq = "v4.48.1"

# renovate: datasource=github-releases depName=jqlang/jq
jq = "1.8.1"

# renovate: datasource=github-releases depName=kubernetes-sigs/kind
kind = "0.30.0"

# renovate: datasource=github-tags depName=kubernetes/kubectl
kubectl = "1.34.1"

# renovate: datasource=github-releases depName=kubernetes-sigs/kustomize
kustomize = "5.8.0"

# renovate: datasource=github-releases depName=helm/helm
helm = "3.19.1"

# renovate: datasource=github-releases depName=helmfile/helmfile
helmfile = "1.1.9"

# renovate: datasource=github-releases depName=yannh/kubeconform
kubeconform = "0.7.0"

# renovate: datasource=github-releases depName=FiloSottile/mkcert
mkcert = "1.4.4"

[tasks.deps]
description = "Install Python dependencies"
run = """
python -m venv $VIRTUAL_ENV
$VIRTUAL_ENV/bin/pip install -U pip
$VIRTUAL_ENV/bin/pip install -r requirements.txt
"""
