# Default values for app-template
controllers:
  main:
    type: deployment
    strategy: RollingUpdate
    containers:
      main:
        image:
          repository: {{ registry }}/{{ name }}
          tag: {{ tag }}
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
          startup:
            enabled: true

service:
  main:
    controller: main
    ports:
      http:
        port: 80

ingress:
  main:
    enabled: true
    className: nginx
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "0"
    hosts:
      - host: {{ hostname }}
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: main
              port: http
    tls:
      - hosts:
          - {{ hostname }}
        secretName: wildcard-tls

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    memory: 256Mi 